<%# Index File for Aeroplanes %>
<div>
    <h3>All Aeroplanes</h3>
    <br>
    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <th>Type</th>
        <th>Seats</th>
        <th>Model</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% @aeroplanes.each do |aeroplane| %>
        <tr>
            <td><%= aeroplane.plane %></td>
            <td><%= aeroplane.seats %></td>
            <td><%= aeroplane.model %></td>
            <td><%= link_to 'Show Plane Configuration', aeroplane, class: 'btn btn-sm btn-info' %></td>
            <td><%= link_to 'Edit', edit_aeroplane_path(aeroplane), class: 'btn btn-sm btn-warning' %></td>
            <td>
            <%= link_to "Delete", aeroplane, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <br>
    <%= link_to 'New Aeroplane', new_aeroplane_path, class: 'btn btn-primary' %>
</div>

