<div class="container">
  <h4>Create a Booking</h4>
  
  <%= form_for @booking, url: flight_bookings_path(flight_id: @flight.id) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :seat_class %>
      <%= f.select :seat_class, ['First Class', 'Business Class', 'Economy Class'], class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= f.label :pnr_number %>
      <%= f.text_field :pnr_number, class: 'form-control', readonly: true %>
    </div>
    
    <%= f.hidden_field :flight_id, value: @flight.id %>
    
    <div class="actions">
      <%= f.submit 'Book',  local: true, data: { turbo: false }, class: 'btn btn-primary' %>
      <%= link_to 'Cancel', flight_path(@flight), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

